---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;
const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive =
  href === pathname ||
  href === pathname.replace(/\/$/, "") ||
  ((href as string) !== "/" && pathname.includes(href as string));
---

<a
  href={href}
  class:list={[className, { active: isActive }]}
  class="hover:text-violet-400 hover:underline hover:underline-offset-2 font-bold text-gray-500 dark:text-slate-300"
  {...props}
>
  <slot />
</a>
<style>
  a.active {
    text-decoration: underline;
    color: var(--color-violet-400);
    text-underline-offset: 4px;
  }
  .dark a.active {
    color: var(--color-violet-400);
    color: red;
  }
</style>
