---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import BlogPost from "../../layouts/BlogPost.astro";
import ProjectLinks from "../../components/ProjectLinks.astro";
import Pill from "../../components/Pill.astro";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((project) => ({
    params: { slug: project.slug },
    props: project,
  }));
}
type Props = CollectionEntry<"projects">;

const project = Astro.props;
const { Content } = await project.render();
---

<BlogPost {...project.data}>
  <ul class="flex gap-2 mt-4 mb-2">
    {project.data.technologies?.map((tech: string) => <Pill>{tech}</Pill>)}
  </ul>
  <div
    class="content prose dark:prose-invert max-w-none prose-a:text-violet-600 dark:prose-a:text-violet-400 prose-a:hover:no-underline prose-a:underline-offset-2"
  >
    <Content />
  </div>
  <ProjectLinks
    repoURL={project.data.repoURL}
    deployURL={project.data.deployURL}
  />
</BlogPost>
